#container {
  margin: 33%;
}

#keypad {
  display: flex;
  flex-wrap: wrap;
  width = 20%;
  background-color: red;
}

#display {
  text-align: right;
  border: 1px solid;
  padding: 5px;
}

.btn {
  flex-grow: 1;
  flex-basis: 25%;
}

#btn0 {
  flex-grow: 1;
  flex-basis: 50%;
}
